[submodule "vendor/fastbit"]
    path = vendor/fastbit
    url = https://github.com/gingi/fastbit
    ignore = untracked
[submodule "vendor/googletest"]
    path = vendor/googletest
    url = https://github.com/liquid-mirror/googletest.git
    ignore = untracked
