Makefile
autom4te.cache
stamp-h1
config.*
!config.sub
!config.h.in
*.a
*.la
*.o
*.lo
*.log
*.trs
/data
.deps/
.libs/
libtool

# Compiled executables
/src/fastbit/fbsql_tab
/src/fastbit/scatter_ez
/src/fastbit/scatter_new
/src/fastbit/scatter
/src/fastbit/ranges
/src/fastbit/join_once
/src/fastbit/gwas2go
/src/fastbit/fbsql
/src/bitmap/transpose
/src/kmerizer/kcount
/src/preprocessing/split_nt
/test/test-bvec
/test/test-freqmap
/test/test-kmerizer
