[submodule "vendor/fastbit"]
	path = vendor/fastbit
	url = https://github.com/gingi/fastbit
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://chromium.googlesource.com/external/googletest
