Makefile
autom4te.cache
stamp-h1
config.h
config.log
config.status
libfastbit.la
*.o
*.lo
/data
.deps/
.libs/

# Compiled executables
/src/fastbit/fbsql_tab
/src/fastbit/scatter_ez
/src/fastbit/scatter_new
/src/fastbit/scatter
/src/fastbit/ranges
/src/fastbit/join_once
/src/fastbit/gwas2go
/src/fastbit/fbsql
